{{!-- <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        
       <div class="row">
        
      

        
       
        
        <h1 class="text-center main-heading">About Us</h1>

        Carousel section start
        <p class="text-center sub-heading ">grow your business with us</p>
        <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="clos"><h1>The Equipments</h1><h4>World Class Equipments<br>Efficiency&Servicefor Margo's & odd<br>saint</h4><p>To create a buzzy vibe as soon as they open,<br>Queenstown restaurants Margo's and odd saint have<br>integrated restaurant discovery platform First Table <br>with their reservation management software Resdiary </p><button class="lifo">Learn more</button>&nbsp;&nbsp;&nbsp;<a href="https://predict-snts.onrender.com/" class="link">Heart Attack Predictor</a></div>
        
        <img src="images/doctor1.jpg" class="d-block" alt="image1">
        
      </div>
      <div class="carousel-item">
        <div class="clos"><h1>The Doctors</h1><h4 >World Class Doctors<br>Efficiency&Servicefor Margo's & odd<br>saint</h4><p>To create a buzzy vibe as soon as they open,<br>Queenstown restaurants Margo's and odd saint have<br>integrated restaurant discovery platform First Table <br>with their reservation management software Resdiary </p><button class="lifo">Learn more</button>&nbsp;&nbsp;&nbsp;<a href="https://predict-snts.onrender.com/" class="link">Heart Attack Predictor</a></div>
        <img src="images/doctor2.jpg" class="d-block" alt="image2">
      </div>

      <div class="carousel-item">
        <div class="clos"><h1>The Experts</h1><h4 >Best Experts throughout the Globe <br>Efficiency&Servicefor Margo's & odd<br>saint</h4><p>To create a buzzy vibe as soon as they open,<br>Queenstown restaurants Margo's and odd saint have<br>integrated restaurant discovery platform First Table <br>with their reservation management software Resdiary </p><button class="lifo">Learn more</button>&nbsp;&nbsp;&nbsp;<a href="https://predict-snts.onrender.com/" class="link">Heart Attack Predictor</a></div>
        <img src="images/doctor3.jpg" class="d-block" alt="image3">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <img class="plos" src="images/arrowleft.png" alt="">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
       <span class="visually-hidden">Previous</span> 
    </button>

      



    <button  class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <img class="plos" src="images/arrowright.png" alt="">
       <span class="carousel-control-next-icon" aria-hidden="true"></span> 
       <span class="visually-hidden">Next</span> 
    </button>
  </div>
   Carousel section ends


 </div> 
         </div>
        </div>
      </div>
      <hr>
  
       
    
   --}}