


   <div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Our Services</h1>
    
       <div class="row grid-legend">



            <div class="container text-center">
  <div class="row">

    <div class="col">

     <a href="/gallery"> 
    <img class="imi" src="images/bmi.jpg" alt="error">       
     
    </a>
     <h2 class="temp">Calc. Your BMI</h2>
    </div>


    <div class="col">

        <a href="/vreminder">
     <img height="190px" class="imi" src="images/vaccine.jpg" alt="error">
        </a>

      <h2 class="temp">Know Vaccination Due Dates</h2>
    </div>

    <div class="col">
        <a href="/centres">
      <img class="imi" src="images/location.jpg" alt="error"> 
        </a>
      <h2 class="temp">Find Nearby Health Centres</h2>
    </div>
  </div>
</div>
                {{!-- <div class="col-md-4">
                    <div class="box">  
                          <div class="our-services settings"> 
                              <div class="icon">
                                 <img src="https://i.imgur.com/6NKPrhO.png" alt=""> 
                            </div>  
                                  <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsam fugiat ea.</p>  
                             <img class="imi" src="images/bmi.jpg" alt="error">
                            <h2>Calculate Your BMI</h2> 
                         </div>  
                     </div> 
                </div>  --}}

                {{!-- <div class="col-md-4">
                    <div class="box"> --}}
                         {{!-- <div class="our-services settings"> --}}
                             {{!-- <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div> --}}
                                {{!-- <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsam fugiat ea.</p>--}}
                                {{!-- <img height="190px" class="imi" src="images/vaccine.jpg" alt="error">
                                 <h2>Know Your Vaccination Time</h2> --}}
                        {{!-- </div>  --}}
                    {{!-- </div>
                </div> --}}

                {{!-- <div class="col-md-4">
                    <div class="box"> --}}
                         {{!-- <div class="our-services settings"> --}}
                             {{!-- <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div> --}}
                                {{!-- <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsam fugiat ea.</p>
                              --}}
                              {{!-- <img class="imi" src="images/location.jpg" alt="error"> --}}
                        {{!-- </div>  --}}
                    {{!-- </div>
                </div> --}}

                {{!-- <div class="col-md-4">
                    <div class="box"> --}}
                        {{!-- <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsam fugiat ea.</p>
                            
                        </div> --}}
                    {{!-- </div>
                </div> --}}

                {{!-- <div class="col-md-4">
                    <div class="box"> --}}
                        {{!-- <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsam fugiat ea.</p>
                            
                        </div> --}}
                    {{!-- </div>
                </div> --}}

                {{!-- <div class="col-md-4">
                    <div class="box"> --}}
                        {{!-- <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsam fugiat ea.</p>
                            
                        </div> --}}
                      {{!-- </div> --}}
                {{!-- </div> --}}
         </div>
       </div>
     </div> 
</div>  